<div class="col-md-offset-1 col-md-10">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= t('instructions.last_instructions')%></div>

    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th style="width: 200px;"><%= t('instructions.name') %></th>
        <th><%= t('user') %></th>
        <th><%= t('time_update') %></th>
      </tr>

      <% @instructions.each do |instruction| %>
          <tr>
            <td><%= link_to instruction.name, instruction_path(instruction.id) %></td>
            <td><%= link_to instruction.user.name,   persons_show_path(instruction.user) %></td>
            <td><%= instruction.updated_at.localtime.strftime '%d-%m-%Y %H:%M:%S' %></td>
          </tr>
      <% end %>
    </table>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= t('instructions.popular')%></div>


    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th style="width: 200px;"><%=t('instructions.name')%></th>
        <th><%= t('user')%></th>
        <th><%= t('time_update')%></th>
      </tr>

      <% if true %>
          <% @popular_instructions.each do |instruction| %>
              <tr>
                <td><%= link_to instruction.instruction.name, instruction_path(instruction.instruction.id) %></td>
                <td><%= link_to instruction.instruction.user.name,   persons_show_path(instruction.instruction.user) %></td>
                <td><%= instruction.instruction.updated_at.localtime.strftime '%d-%m-%Y %H:%M:%S' %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>