<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item"><%= link_to t('profile'), persons_edit_path %></li>
    <li class="list-group-item"><%= link_to t('users.update_settings'), edit_user_registration_path %></li>
    <li class="list-group-item"><%= link_to t('instructions.create') + ' ' + t('instructions.instruction'), new_instruction_path %></li>
    <li class="list-group-item">
      <%= link_to t('action.all_istructions'), instructions_path %>
      <span class="badge"><%= Instruction.all.count %></span>
    </li>
    <% if can? :index, User %>
        <li class="list-group-item">
          <%= link_to t('users.all_users'), persons_index_path %>
          <span class="badge"><%= User.all.count %></span>
        </li>
    <% end %>
  </ul>

</div>

<style>
  .word-wrap-panel {
    word-wrap: break-word;
  }
</style>

<div class="col-md-8">
  <div class="row">
    <div class="well well-sm">
      <h4 class="text-center"><%=@user_obj.email%></h4>
    </div>
  </div>
  <div class="row">

    <div class="col-md-5">
      <img src="<%=@user_obj.image %>" alt=<%=t('user_form.image') %> width="300" height="300" align="left">
    </div>

    <div class="col-md-7">
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%=t('user_form.first_name') %></h4>
          <p class="list-group-item-text word-wrap-panel"><%=@user_obj.firstname %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%=t('user_form.last_name') %></h4>
          <p class="list-group-item-text word-wrap-panel"><%=@user_obj.lastname %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%=t('user_form.hobbies') %></h4>
          <p class="list-group-item-text word-wrap-panel"><%=@user_obj.hobbies %></p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading"><%=t('user_form.about') %></h4>
          <p class="list-group-item-text word-wrap-panel"><%=@user_obj.about %></p>
        </a>
      </div>


    </div>
  </div>

  <div>
    <p>
      <b align="left"><%=t('action.sort')%></b>
      <%= link_to  raw('<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>'), persons_sort_up_down_path(@user_obj.id)%>
      <%= link_to  raw('<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>'), persons_sort_down_up_path(@user_obj.id)%>
    <p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><%= t('instructions.titles') %></div>

    <table class="table table-striped table-bordered table-hover" id="instructions">
      <thead>
      <tr>
        <th><%=t('instructions.name')%></th>
        <th><%=t('instructions.category')%></th>
        <th><%=t('instructions.tags')%></th>
        <th><%= t('action.change')%></th>
        <th><%= t('action.delete')%></th>
      </tr>
      </thead>
      <tbody>

      <% paginator = @user_instructions.paginate(page: params[:page], per_page: 5)%>

      <%= render 'instruction', {paginator: paginator} %>
      </tbody>


    </table>
    <%= will_paginate paginator %>
  </div>

</div>
