<div class="col-xs-3 col-md-3">
  <div><%= link_to t('profile'), persons_edit_path %></div>
  <div><%= link_to t('users.update_settings'), edit_user_registration_path %></div>
  <%= link_to t('instructions.create')+" "+t('instructions.instruction'), new_instruction_path %>
  <div><%= link_to t('action.all_istructions'), instructions_path %></div>
  <% if can? :index, User %>
      <div><%= link_to t('users.all_users'), persons_index_path %></div>
  <% end %>
</div>
<div class="col-xs-9 col-md-9">
  <h4><%=@user_obj.email%></h4>
  <div class="col-xs-4 col-md-4">
    <img src="<%=@user_obj.image %>" alt=<%=t('user_form.image') %> width="300" height="300" align="left">
  </div>

  <div class="col-xs-8 col-md-8">

    <div class="row">
      <div class="col-xs-5 col-md-5" align="left">
        <label><H2> <%=t('user_form.first_name') %>: </H2></label>
      </div>
      <div class="col-xs-7 col-md-7" align="left">
        <div><H2> <%=@user_obj.firstname %></H2> </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-md-5" align="left">
        <label><H2> <%=t('user_form.last_name') %>: </H2></label>
      </div>
      <div class="col-xs-7 col-md-7" align="left">
        <div><H2> <%=@user_obj.lastname %></H2> </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-md-5" align="left">
        <label><H2> <%=t('user_form.hobbies') %>: </H2></label>
      </div>
      <div class="col-xs-7 col-md-7" align="left">
        <div><H2> <%=@user_obj.hobbies %></H2> </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-md-5" align="left">
        <label><H2> <%=t('user_form.about') %>: </H2></label>
      </div>
      <div class="col-xs-7 col-md-7" align="left">
        <div><H2> <%=@user_obj.about %></H2> </div>
      </div>
    </div>
  </div>

  <div>
    <p>
    <b align="left"><%=t('action.sort')%></b>
    <%= link_to  raw('<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>'), persons_sort_up_down_path(@user_obj.id)%>
    <%= link_to  raw('<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>'), persons_sort_down_up_path(@user_obj.id)%>
    <p>
  </div>

  <table border="1" class="table">
    <tr>
      <th><%=t('instructions.name')%></th>
      <th><%=t('instructions.category')%></th>
      <th><%=t('instructions.tags')%></th>
      <th><%= t('action.change')%></th>
      <th><%= t('action.delete')%></th>
    </tr>

    <% @user_instructions.each do |instruction| %>
        <tr>
          <td>
            <%= link_to instruction.name, instruction_path(instruction)%>
            <%= instruction.steps.count %>
            /
            <%= instruction.steps.map{|s| s.blocks.count }.sum %>
          </td>
          <td><%= instruction.category.name %> </td>
          <td><%= raw instruction.tags.map{ |t| link_to t.name, tag_path(t.name), class: 'tag tag-primary'}.join(" ") %> </td>
          <% if can? :update, instruction %>
              <td><%= link_to t('action.change'), edit_instruction_path(instruction)%></td>
          <%	 end %>
          <% if can? :destroy, instruction %>
              <td><%= link_to t('action.delete'), instruction_path(instruction), method: :delete, data: {confirm: t('action.warring') }%></td>
          <%	 end %>
        </tr>
    <% end %>
  </table>

</div>