  <div class="col-xs-3 col-md-3 mark">
    <div><%= link_to t('profile'), persons_edit_path %></div>
    <%= link_to t('instructions.create')+" "+t('instructions.instruction'), new_instruction_path %>
    </div>
  <div class="col-xs-9 col-md-9 mark">
    <h4><%= current_user.email%></h4>
    <div class="col-xs-4 col-md-4 mark">
      <img src="<%=current_user.image %>" alt=<%=t('user_form.image') %> width="300" height="300" align="left">
    </div>

    <div class="col-xs-8 col-md-8 mark">

      <div class="row">
        <div class="col-xs-5 col-md-5 mark" align="left">
        <label><H2> <%=t('user_form.first_name') %>: </H2></label>
        </div>
        <div class="col-xs-7 col-md-7 mark" align="left">
        <div><H2> <%=current_user.firstname %></H2> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5 col-md-5 mark" align="left">
          <label><H2> <%=t('user_form.last_name') %>: </H2></label>
        </div>
        <div class="col-xs-7 col-md-7 mark" align="left">
          <div><H2> <%=current_user.lastname %></H2> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5 col-md-5 mark" align="left">
          <label><H2> <%=t('user_form.hobbies') %>: </H2></label>
        </div>
        <div class="col-xs-7 col-md-7 mark" align="left">
          <div><H2> <%=current_user.hobbies %></H2> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-5 col-md-5 mark" align="left">
          <label><H2> <%=t('user_form.about') %>: </H2></label>
        </div>
        <div class="col-xs-7 col-md-7 mark" align="left">
          <div><H2> <%=current_user.about %></H2> </div>
        </div>
      </div>

    </div>

    <table border="1" class="table">
      <tr>
        <th><%=t('instructions.name')%></th>
        <th><%=t('instructions.category')%></th>
        <th><%=t('instructions.tags')%></th>
        <th><%= t('action.change')%></th>
        <th><%= t('action.delete')%></th>
      </tr>

      <% @user_instructions.each do |instruction| %>
          <tr>
            <td>
              <%= link_to instruction.name, instruction_path(instruction)%>
              <%= instruction.steps.count %>
              /
              <%= instruction.steps.map{|s| s.blocks.count }.sum %>
            </td>
            <td><%= instruction.category.name %> </td>
            <td><%= raw instruction.tags.map{ |t| link_to t.name, tag_path(t.name), class: 'tag tag-primary'}.join(" ") %> </td>
            <td><%= link_to t('action.change'), edit_instruction_path(instruction)%></td>
            <td><%= link_to t('action.delete'), instruction_path(instruction), method: :delete, data: {confirm: t('action.warring') }%></td>
          </tr>
      <% end %>
    </table>

  </div>