<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<div class="row main">
  <div class="main-login main-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :email, class: 'cols-sm-2 control-label' %>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <%= puts :email%>
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('enter')+ :email.to_s %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'cols-sm-2 control-label' %>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: t('enter')+ t('password')%>
            </div>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="form-group row">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <div class="form-group ">
          <%= f.submit t('.sign_in'), class:'btn btn-primary btn-lg btn-block login-button' %>
        </div>

        <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
